# DATA PRE-PROCESSING
1. Drop `Run Time` column
2. Use 0 to replace '' in `Rating` Column
3. Format `year` column to YYYY
4. Drop `path` column
5. Format `User Rating` column to number, eg. `187K` to `187000`

Then save the cleaned data to `movies_clean.csv`.

In [52]:
import pandas as pd
import numpy as np

In [53]:
df=pd.read_csv("./25k IMDb movie Dataset.csv")

In [54]:
df.head(3)

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/

In [55]:
df=df.drop(columns=['Run Time'])

In [56]:
df.head(3)

,movie title,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24402 entries, 0 to 24401
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   24402 non-null  object
 1   Rating        24402 non-null  object
 2   User Rating   24402 non-null  object
 3   Generes       24402 non-null  object
 4   Overview      24158 non-null  object
 5   Plot Kyeword  24402 non-null  object
 6   Director      24402 non-null  object
 7   Top 5 Casts   24402 non-null  object
 8   Writer        24402 non-null  object
 9   year          23624 non-null  object
 10  path          24402 non-null  object
dtypes: object(11)
memory usage: 2.0+ MB

In [58]:
df['Rating']=df['Rating'].str.replace("no-rating","0")

In [59]:
df['Rating']=pd.to_numeric(df['Rating'])

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24402 entries, 0 to 24401
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   24402 non-null  object
 1   Rating        24402 non-null  float64
 2   User Rating   24402 non-null  object
 3   Generes       24402 non-null  object
 4   Overview      24158 non-null  object
 5   Plot Kyeword  24402 non-null  object
 6   Director      24402 non-null  object
 7   Top 5 Casts   24402 non-null  object
 8   Writer        24402 non-null  object
 9   year          23624 non-null  object
 10  path          24402 non-null  object
dtypes: float64(1), object(10)
memory usage: 2.0+ MB

In [61]:
df['User Rating']=df['User Rating'].str.replace("K","000")
df['User Rating']=df['User Rating'].str.replace("M","000000")

In [62]:
df['User Rating']=pd.to_numeric(df['User Rating'])

In [63]:
df.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24402 entries, 0 to 24401
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   24402 non-null  object
 1   Rating        24402 non-null  float64
 2   User Rating   24402 non-null  float64
 3   Generes       24402 non-null  object
 4   Overview      24158 non-null  object
 5   Plot Kyeword  24402 non-null  object
 6   Director      24402 non-null  object
 7   Top 5 Casts   24402 non-null  object
 8   Writer        24402 non-null  object
 9   year          23624 non-null  object
 10  path          24402 non-null  object
dtypes: float64(2), object(9)
memory usage: 2.0+ MB

In [64]:
df.head(3)

,movie title,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,8.6,187000.0,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,6.0,56000.0,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,6.9,380000.0,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/

In [65]:
df=df.drop("path",axis=1)

In [66]:
df.head(3)

,movie title,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year
0,Top Gun: Maverick,8.6,187000.0,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022
1,Jurassic World Dominion,6.0,56000.0,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022
2,Top Gun,6.9,380000.0,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986

In [67]:
df['year']=df['year'].str.replace("-","")

In [68]:
df['year'].unique()

array(['2022', '1986', '1993', '2021', '2015', '2018', '(I) (2022)',
       '1997', '1984', '2001', '1977', '2019', '2003', '1996', '1999',
       '2008', '2017', '2010', '2005', '2023', '1989', '2011', '1995',
       '(I) (2021)', '2009', '2020', '2014', '2000', '2002', '1983',
       '2012', '(I) (2015)', '2013', '1988', '2006', '2016', '1982',
       '1987', '(I) (2011)', '(I) (2013)', '(II) (2020)', '2007',
       '(I) (1996)', '1991', '2004', '1994', '1998', '(I) (2019)',
       '(II) (2016)', '(I) (2014)', '(I) (2010)', '1990', '(I) (2008)',
       '1992', '1978', '(I) (2018)', '(I) (2017)', '(I) (2020)', '1962',
       '(IV) (2020)', '1976', '(I) (2016)', '(I) (2009)', '1979',
       '(I) (2007)', '(I) (1990)', '1980', nan, '1985', '1964', '1981',
       '(II) (2019)', '(IV) (2021)', '1968', '1971', '1974', '1959',
       '1973', '1963', '(I) (2006)', '1965', '1969', '(IX)', '1967',
       '(II) (2021)', '2024', '(I) (1998)', '(II) (2015)', '(III) (2021)',
       '(II) (2014)', '(II) (2013)', '(II) (1967)', '(II) (2022)', '1972',
       '(I) (1995)', '1961', '1915', '1966', '(I) (1999)', '(I) (2012)',
       '(II) (2018)', '(II) (2017)', '1953', '(IV)', '(III) (2013)',
       '(III) (2017)', '1975', '1970', '1937', '(I) (2004)',
       '(III) (2012)', '(I) (1984)', '1952', '(II) (2012)', '(III)',
       '(II)', '1938', '(XI)', '1960', '1932', '2025', '(I) (1970)',
       '(II) (2005)', '1954', '1949', '1926', '1948', '1958',
       '(I) (2002)', '1950', '1957', '(III) (2018)', '(XVIII)', '(V)',
       '1951', '(I)', '(I) (1997)', '2027', '(I) (2000)', '(I) (2003)',
       '1940', '(I) (1992)', '1924', '2028', '(VIII)', '1941', '1934',
       '1927', '(XXVII)', '1942', '1955', '(I) (1993)', '(V) (2021)',
       '1935', '2026', '(III) (2019)', '1956', '1923', '(I) (1975)',
       '1943', '1939', '1945', '1928', '(II) (2008)', '1931', '1944',
       '(I) (1988)', '(III) (2022)', '(I) (1991)', '(III) (2016)', '1916',
       '1936', '(VI)', '(IV) (2001)', '(IV) (2015)', '(II) (2000)',
       '(II) (2011)', '1918', '(VI) (2021)', '(XIV)', '(IV) (2016)',
       '(II) (1959)', '(II) (1998)', '1933', '1946', '(IV) (2017)',
       '1947', '(I) (2005)', '1914', '(II) (1999)', '(III) (2015)',
       '(II) (2009)', '(I) (1966)', '(I) (1982)', '(I) (1980)',
       '(II) (1997)', '(IV) (2012)', '1930', '1906', '(XIX)',
       '(I) (1989)', '(I) (1983)', '(I) (1987)', '(III) (2014)',
       '(III) (2011)', '(VII)', '1929', '(II) (2004)', '(VI) (2015)',
       '(I) (1985)', '(I) (1981)', '(V) (2016)', '(V) (2020)',
       '(II) (2006)', '(II) (1996)', '(I) (1932)', '(I) (2001)',
       '(V) (2018)', '(I) (1976)', '(IV) (2022)', '(XVI)', '1925',
       '(III) (2020)', '(II) (2010)', '(IV) (2019)', '(VIII) (2018)',
       '1921', '(I) (1936)', '1919', '1920', '1913', '(I) (1971)',
       '(I) (1968)', '(II) (2007)', '(I) (1972)', '(I) (1969)', '(XII)',
       '(I) (1978)', '(XI) (2017)', '1922', '(I) (1986)', '(XXXIII)',
       '(XV) (2020)', '(IX) (2016)', '(I) (1994)', '(V) (2017)',
       '(V) (2012)', '(VI) (2020)', '(IV) (2018)', '(III) (2006)',
       '(II) (1951)'], dtype=object)

In [69]:
atiklar=["(",")","I","V"," ","X"]
for a in atiklar:
    df['year']=df['year'].str.replace(a,"")

In [70]:
df['year'].unique()

array(['2022', '1986', '1993', '2021', '2015', '2018', '1997', '1984',
       '2001', '1977', '2019', '2003', '1996', '1999', '2008', '2017',
       '2010', '2005', '2023', '1989', '2011', '1995', '2009', '2020',
       '2014', '2000', '2002', '1983', '2012', '2013', '1988', '2006',
       '2016', '1982', '1987', '2007', '1991', '2004', '1994', '1998',
       '1990', '1992', '1978', '1962', '1976', '1979', '1980', nan,
       '1985', '1964', '1981', '1968', '1971', '1974', '1959', '1973',
       '1963', '1965', '1969', '', '1967', '2024', '1972', '1961', '1915',
       '1966', '1953', '1975', '1970', '1937', '1952', '1938', '1960',
       '1932', '2025', '1954', '1949', '1926', '1948', '1958', '1950',
       '1957', '1951', '2027', '1940', '1924', '2028', '1941', '1934',
       '1927', '1942', '1955', '1935', '2026', '1956', '1923', '1943',
       '1939', '1945', '1928', '1931', '1944', '1916', '1936', '1918',
       '1933', '1946', '1947', '1914', '1930', '1906', '1929', '1925',
       '1921', '1919', '1920', '1913', '1922'], dtype=object)

In [71]:
df['year']=np.where(df['year']=="","1900",df['year'])

In [72]:
df['year']=df['year'].fillna("1900")

In [23]:
# df['year']=df['year']+"-01-01"

In [48]:
df['year']=pd.to_datetime(df['year'])

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24402 entries, 0 to 24401
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   24402 non-null  object
 1   Rating        24402 non-null  float64
 2   User Rating   24402 non-null  float64
 3   Generes       24402 non-null  object
 4   Overview      24158 non-null  object
 5   Plot Kyeword  24402 non-null  object
 6   Director      24402 non-null  object
 7   Top 5 Casts   24402 non-null  object
 8   Writer        24402 non-null  object
 9   year          24402 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.9+ MB

In [74]:
df.head(3)

,movie title,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year
0,Top Gun: Maverick,8.6,187000.0,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,2022
1,Jurassic World Dominion,6.0,56000.0,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,2022
2,Top Gun,6.9,380000.0,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,1986

In [75]:
df.to_csv("movies_clean.csv")

# Business Codes

In [26]:
def filmbul(df,query,score):
    filtre1=df['movie title'].str.contains(query.title())
    filtre2=df['Overview'].str.contains(query)
    filtre3=df['Rating']>score
    df=df[(filtre1 | filtre2) & filtre3]
    return df

In [27]:
filmbul(df,"love",7.5)

,movie title,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year
10,Thor: Love and Thunder,8.2,926.0,"['Action', 'Adventure', 'Comedy']","Thor enlists the help of Valkyrie, Korg and ex...","['marvel comics', 'based on comic', 'superhero...",Taika Waititi,"['Jennifer Kaytin Robinson', 'Stan Lee', 'Chri...",Taika Waititi,2022-01-01
41,Pirates of the Caribbean: The Curse of the Bla...,8.1,1.1,"['Action', 'Adventure', 'Fantasy']",Blacksmith Will Turner teams up with eccentric...,"['pirate', 'curse', 'undead', 'captain jack sp...",Gore Verbinski,"['Terry Rossio', 'Stuart Beattie', 'Johnny Dep...",Ted Elliott,2003-01-01
55,Samrat Prithviraj,7.6,47000.0,"['Action', 'Drama', 'History']",A fearless warrior. An epic love story. Witnes...,"['periodic', 'warrior']",Chandra Prakash Dwivedi,"['Akshay Kumar', 'Manushi Chhillar', 'Sanjay D...",Chandra Prakash Dwivedi,2022-01-01
140,The Hunt,8.3,322000.0,['Drama'],"A teacher lives a lonely life, all the while s...","['kindergarten teacher', 'gunshot', 'punched i...",Thomas Vinterberg,"['Thomas Vinterberg', 'Mads Mikkelsen', 'Thoma...",Tobias Lindholm,2020-01-01
567,Kill Bill: Vol. 2,8.0,741000.0,"['Action', 'Crime', 'Thriller']",The Bride continues her quest of vengeance aga...,"['female assassin', 'revenge', 'wedding chapel...",Quentin Tarantino,"['Uma Thurman', 'Uma Thurman', 'David Carradin...",Quentin Tarantino,2004-01-01
...,...,...,...,...,...,...,...,...,...,...
22973,He Who Gets Slapped,7.8,3.8,"['Drama', 'Romance', 'Thriller']",A bitter clown endeavors to rescue the young w...,"['revenge', 'clown', 'sad clown', 'circus', 'b...",Victor Sjöström,"['Carey Wilson', 'Victor Sjöström', 'Lon Chane...",Leonid Andreyev,1924-01-01
23135,Kshanam,8.2,5.5,"['Mystery', 'Thriller']","Rishi, a non-resident Indian, returns to India...","['nri', 'investigation', 'missing person', 'mi...",Ravikanth Perepu,"['Ravikanth Perepu', 'Abburi Ravi', 'Adivi Ses...",Adivi Sesh,2016-01-01
23553,Despicable Me,7.6,535000.0,"['Animation', 'Adventure', 'Comedy']",When a criminal mastermind uses a trio of orph...,"['girl', 'moon', 'white picket fence', 'pyrami...",Pierre Coffin,"['Cinco Paul', 'Ken Daurio', 'Sergio Pablos', ...",Chris Renaud,2010-01-01
24203,Agir Roman,7.6,11000.0,"['Crime', 'Drama', 'Romance']","A young car mechanic, while in the middle of a...","['istanbul turkey', 'violence', 'knife', 'base...",Mustafa Altioklar,"['Metin Kaçan', 'Okan Bayülgen', 'Müjde Ar', '...",Mustafa Altioklar,1997-01-01
24366,Miss Lovely,8.0,13000.0,"['Crime', 'Drama', 'Romance']",A Hindi feature film set in the lower depths o...,"['bombay', 'timeframe 1980s', 'film industry',...",Ashim Ahluwalia,"['Uttam Sirur', 'Nawazuddin Siddiqui', 'Nihari...",Ashim Ahluwalia,2012-01-01

In [28]:
yonetmen=df.groupby("Director").sum()

In [29]:
ilk5=yonetmen.sort_values('User Rating',ascending=False).head(5)

In [30]:
df[df["Director"].str.contains("|".join(list(ilk5.index)))]

,movie title,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year
13,Jurassic Park,8.2,958000.0,"['Action', 'Adventure', 'Sci-Fi']",A pragmatic paleontologist touring an almost c...,"['dinosaur', 'scientist', 'bipedal dinosaur', ...",Steven Spielberg,"['David Koepp', 'Sam Neill', 'Laura Dern', 'Je...",Michael Crichton,1993-01-01
33,The Lost World: Jurassic Park,6.5,411000.0,"['Action', 'Adventure', 'Sci-Fi']",A research team is sent to the Jurassic Park S...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Steven Spielberg,"['David Koepp', 'Jeff Goldblum', 'Julianne Moo...",Michael Crichton,1997-01-01
77,The Last Duel,7.4,144000.0,"['Action', 'Drama', 'History']",King Charles VI declares that Knight Jean de C...,"['14th century', 'duel', 'battle', 'husband wi...",Ridley Scott,"['Ben Affleck', 'Matt Damon', 'Matt Damon', 'A...",Nicole Holofcener,2021-01-01
111,Blade Runner,8.1,753000.0,"['Action', 'Drama', 'Sci-Fi']",A blade runner must pursue and terminate four ...,"['tech noir', 'cyberpunk', 'police detective',...",Ridley Scott,"['David Webb Peoples', 'Philip K. Dick', 'Harr...",Hampton Fancher,1982-01-01
125,Gladiator,8.5,1.5,"['Action', 'Adventure', 'Drama']",A former Roman General sets out to exact venge...,"['roman empire', 'gladiator', 'slavery', 'comb...",Ridley Scott,"['John Logan', 'William Nicholson', 'Russell C...",David Franzoni,2000-01-01
...,...,...,...,...,...,...,...,...,...,...
19087,Alien,8.5,859000.0,"['Horror', 'Sci-Fi']",The crew of a commercial spacecraft encounter ...,"['alien', 'spaceship', 'outer space', 'female ...",Ridley Scott,"['Ronald Shusett', 'Sigourney Weaver', 'Tom Sk...",Dan O'Bannon,1979-01-01
20380,The Outlaw Josey Wales,7.8,73000.0,['Western'],Missouri farmer Josey Wales joins a Confederat...,"['civil war veteran', 'revenge', 'post america...",Clint Eastwood,"['Philip Kaufman', 'Sonia Chernus', 'Clint Eas...",Forrest Carter,1976-01-01
21081,Jaws,8.1,587000.0,"['Adventure', 'Thriller']",When a killer shark unleashes chaos on a beach...,"['shark', 'great white shark', 'beach', 'block...",Steven Spielberg,"['Carl Gottlieb', 'Roy Scheider', 'Robert Shaw...",Peter Benchley,1975-01-01
21092,Alien: Covenant,6.4,276000.0,"['Horror', 'Sci-Fi', 'Thriller']","The crew of a colony ship, bound for a remote ...","['xenomorph', 'android', 'alien', 'future', 's...",Ridley Scott,"['Ronald Shusett', 'Jack Paglen', 'Michael Fas...",Dan O'Bannon,2017-01-01
23556,Who Framed Roger Rabbit,7.7,198000.0,"['Animation', 'Adventure', 'Comedy']",A toon-hating detective is a cartoon rabbit's ...,"['roger rabbit', 'private detective', 'anthrop...",Robert Zemeckis,"['Jeffrey Price', 'Peter S. Seaman', 'Bob Hosk...",Gary K. Wolf,1988-01-01

In [31]:
 yonetmenler=list(ilk5.index)
 yonetmenfiltre="|".join(yonetmenler)
 filtre=df["Director"].str.contains(yonetmenfiltre)
 df[filtre].to_excel("filmler.xlsx")